.responceCard,
.responceCardMobile{
    margin-top: 5vh;
    padding: 24px 60px;
    min-height: 55vh;
    width: 27vw;
    border-radius: 8px;
    box-shadow: 0px 5px 20px 0px #6C758B33;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.continueBtn{
    height: 43px;
    padding: 11px 0px 11px 0px;
    gap: 10px;
    border-radius: 8px;
    background-color: #32ABF2;
    font-size: 14px;
    line-height: 1.4;
    color: white;
    border: none;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.smallText{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 5px;
    color: #4F637D;
}

.responceCardMobile{
    display: none;
}

.imgDone{
    width: 160px;
}


@media (max-width: 480px) {
    .responceCard{
        display: none;
    }
    .responceCardMobile {
      width: 100vw; /* Make the cards take up most of the screen width */
      padding: 5px 30px ; /* Reduce padding */
      height: auto; /* Allow height to adjust based on content */
      min-height: auto; 
      box-shadow: none;
      margin-top: 1vh;
    }
    .smallText,
    .header,
    .text,
    .login {
      font-size: 12px; /* Adjust font sizes for readability on small screens */
      line-height: 1.5;
    }
  
    .create,
    .continueBtn {
      width: 100%; /* Make buttons full width for easy tapping */
      padding: 10px;
      font-size: 14px;
    }
  
    .imgDone {
      width: 120px; /* Scale down image for smaller screens */
    }
  
    .racoonCard img {
      width: 60px; /* Adjust image size for smaller screens */
    }
  
    .platformSelect {
      height: 36px; /* Slightly reduce height */
      font-size: 14px; /* Adjust font size for mobile */
    }
  
    .listItem {
      gap: 8px; /* Reduce gap for a tighter layout */
      margin-bottom: 10px;
    }
  
    .centered {
      text-align: center; /* Ensures centered text looks good on mobile */
    }
  
    .responceCard h2 {
      font-size: 18px; /* Adjust heading font size */
      margin-top: 10px;
    }
  
    .redirect {
      font-size: 12px; /* Adjust font size for mobile */
    }
  
}