.mainContainer {
  width: 100%;
  background: linear-gradient(339.02deg, #0D3251 0%, #19476C 103.05%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 56px;
}

.stepsAndButtons {
  width: 364px;
  height: 272px;
  padding: 10px;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.step {
  display: flex;
  /* align-items: center; */
  gap: 8px;
}

.circleLineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #5D7FA3;
}

.circle.active {
  border-color: #32ABF2;
}

.circle.completed{
  background-color: #32ABF2;
}

.line {
  width: 2px;
  height: 40px;
  background-color: #5D7FA3;
}

.line.completed {
  background-color: #32ABF2; 
}

.label {
  font-size: 16px;
  color: #5D7FA3;
  padding-top: 4px;
}

.label.completed {
  color: white;
}

.textAndDots {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.text {
  width: 100%;
  max-width: 364px;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: #96CAF7; 
  background-color: #134267;
}

.boldText {
  font-size: 32px;
  font-weight: 700;
  margin-right: 16px;
  color: #96CAF7;
}

.description {
  font-size: 14px;
  line-height: 1.4;
}

/* Dots Container Styling */
.dots {
  display: flex;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #134267;
  border-radius: 50%;
}

.activeDot {
  background-color: #96CAF7;
}

.buttons{
  margin-top: 24px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.buttons button{
  background-color: #134267;
  border: none;
  color: #5D7FA3;
  font-size: 16px;
  width: 85px;
  height: 33px;
  padding: 6px 12px 6px 12px;
  gap: 8px;
  border-radius: 4px;
}

.buttons button:active,
.buttons button:focus{
  background-color: #134267;
}